<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.isld.databees"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name="nl.isld.databees.SplashScreen"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="nl.isld.databees.MainActivity"
            android:theme="@style/NBV_Theme" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.Apiary"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        <activity
            android:name="nl.isld.databees.Colony"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               
        <activity
            android:name="nl.isld.databees.Hive"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.Inspection"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.Plant"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.Task"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.User"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.ApiarieFragment"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity
            android:name="nl.isld.databees.DiseaseFragment"
            android:theme="@android:style/Theme.DeviceDefault" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
 		<activity
            android:name="nl.isld.databees.HomeFragment"
            android:theme="@style/NBV_Theme" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.TaskFragment"
            android:theme="@style/NBV_Theme" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.isld.databees.rss.RSSFeed"
            android:theme="@style/NBV_Theme" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

                <activity
            android:name="nl.isld.databees.disease.Varroa"
            android:theme="@style/NBV_Theme" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
             <activity android:name="nl.isld.databees.rss.FileCache" ></activity>
             <activity android:name="nl.isld.databees.rss.LazyAdapter" ></activity>
             <activity android:name="nl.isld.databees.rss.MemoryCache" ></activity>
             <activity android:name="nl.isld.databees.rss.Utils" ></activity>
             <activity android:name="nl.isld.databees.rss.XMLParser" >   </activity>
             
             <activity android:name="nl.isld.databees.disease.American" ></activity>
             <activity android:name="nl.isld.databees.disease.Chalkbrood" ></activity>
             <activity android:name="nl.isld.databees.disease.European" ></activity>
             <activity android:name="nl.isld.databees.disease.Nosema" ></activity>
             <activity android:name="nl.isld.databees.disease.Small" ></activity>
             <activity android:name="nl.isld.databees.disease.Tracheal" ></activity>

             <activity android:name="nl.isld.databees.disease.Viruses" ></activity>
             <activity android:name="nl.isld.databees.disease.Wax" ></activity>
             

    </application>

</manifest>
